*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#050b14;
  color:white;
}

section{
  padding:80px 8%;
}

.hero{
  min-height:100vh;
  background:linear-gradient(135deg,#050b14,#102a43);
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.hero h1{
  font-size:70px;
  color:#fff;
}

.hero p{
  font-size:26px;
  color:#ffb703;
  margin:20px 0;
}

.btn{
  background:#dc2626;
  color:white;
  padding:16px 35px;
  border-radius:30px;
  text-decoration:none;
  width:max-content;
  font-weight:bold;
  box-shadow:0 0 25px rgba(220,38,38,.5);
}

h2{
  font-size:42px;
  margin-bottom:30px;
  color:#ffb703;
}

p{
  font-size:20px;
  line-height:1.8;
  color:#dbeafe;
}

.features,
.tech{
  background:#08111f;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
  gap:20px;
}

.card{
  background:rgba(255,255,255,.08);
  border:1px solid rgba(255,255,255,.15);
  padding:25px;
  border-radius:22px;
  font-size:20px;
  font-weight:bold;
  box-shadow:0 10px 30px rgba(0,0,0,.25);
}

.demo video{
  width:100%;
  max-width:800px;
  border-radius:25px;
  box-shadow:0 0 30px rgba(255,255,255,.15);
}

.footer{
  text-align:center;
  background:#020617;
}
